<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFDataGrid.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=MCNRAJ\SQLSERVER2005;Initial Catalog=NORTHWND;Persist Security Info=True;User ID=sa;Password=wintellect"
            providerName="System.Data.SqlClient" />
        <add name="WPFDataGrid.Properties.Settings.NORTHWNDConnectionString1"
            connectionString="Data Source=MCNRAJ\SQLSERVER2005;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>